apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  labels:
    service: kafka
spec:
  type: ClusterIP # Regular service for client access
  ports:
    - port: 9092
      targetPort: 9092
      name: kafka
  selector:
    app: kafka