apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-client
  namespace: {{ .Values.namespace }}
  labels:
    app: client
spec:
  replicas: {{ .Values.client.replicas }}
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: {{ .Values.client.image }}
          ports:
            - containerPort: {{ .Values.client.port }}
