apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-server
  namespace: {{ .Values.namespace }}
  labels:
    app: server
spec:
  replicas: {{ .Values.server.replicas }}
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: {{ .Values.server.image }}
          ports:
            - containerPort: {{ .Values.server.port }}
