---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-server
  labels:
    app: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec: 
       containers:
       - image: lars1595/pub-sub-kafka-server:latest
         name: server
         ports:
         - containerPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: service-server
spec:
  selector:
    app: pub-sub-kafka-deployment
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - image: lars1595/pub-sub-kafka-client:1.0.0
          name: client
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: service-client
spec:
  selector:
    app: client
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: service-client-lb
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: client
  type: LoadBalancer